// Navigation Styles here
// header {
//     display: flex;
//     justify-content: space-between;
    
//     @media @mobile {
//         display: flex;
//         width: 100%;
//         margin-bottom: 10px;
//         flex-direction: column;
//         align-items: center;
// }

//     nav {
//         width: 50%;
//         display: flex;
//         justify-content: space-around;
//         //margin-bottom: 30px;

        
//         a {
//             text-decoration: none;
//             color: black;
//             font-size: 1.6rem;
        
            
//     }

// }
// }
// .nav-image {
//     border-top: 2px dashed gray;
//   }

nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    @media @mobile {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }
}

.nav-image {
    hr {
        width: 127%;
        margin-left: -100px;
        margin-bottom: 0px;
        border-top: 2px dashed gray;
    }
    @media @mobile {
        width: 100%;
        padding: 0px 10px 0px 10px;
      }
  }